<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="./css/style.css" >
	<title>Home</title>
</head>
<body>
	<div style="width: auto; ">
		<center>
			<h1 style="font-size: 2em; font-weight: bold; margin-top: 50px; font-style: italic;">ThomasPay</h1>
			<p style="margin-left: 250px; margin-top: -20px; font-style: italic;">- pay anytime anywhere</p>
		</center>
		<ul>
		  <li><a class="active" href="homepage.html">Home</a></li>
		  <li><a href="addbeneficiary.html">Add Beneficiary</a></li>
		  <li><a href="quickpay.html">Quickpay</a></li>
		  <li><a href="linkaccount.html">Link Account</a></li>
		  <li><a href="addmoney.html">Add Money</a></li>
		  <li><a href="viewtransactions.html">View All Transactions</a></li>
		  <li><a href="index.html">Logout</a></li>
		</ul>
	</div>
	<br>
	<br>
	<div>
		Available amount:
		<textarea style="margin-left: 5px; width: 100px; height: 20px;"></textarea>
	</div>
</body>
</html>