<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Failed</title>
</head>
<body>
<h1>Login failed. Massive L for you bro. Try logging in Again</h1>
<form action="/loginfail1" method="post" enctype="multipart/form-data">
	<table>
				<tr>
					<td>
						Try logging in again from home page
					</td>
                </tr>
        <tr>
					<td>
						<button style="margin-top: 20px; width: auto;" type="submit">Login Page</button>
					</td>
                </tr>

    </table>


</form>
<form action="/loginfail2" method="post" enctype="multipart/form-data">
	<table>
				<tr>
					<td>
						Not a user? Register
					</td>
                </tr>
        <tr>
					<td>
						<button style="margin-top: 20px; width: auto;" type="submit">Register</button>
					</td>
                </tr>

    </table>


</form>
</body>
</html>